.brand {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 4rem;
	text-align: center;
}

.brand__content {

	> :first-child {
		margin-top: 0;
	}

		> :last-child {
		margin-bottom: 0;
	}

}

.brand__img {
	margin-bottom: 1rem;
}

.brand__title {
	margin-bottom: 0.5rem;
	font-size: 1.25rem;
}

@include media-breakpoint-up(md) {

	.brand {
		flex-wrap: nowrap;
		text-align: left;
	}

	.brand__img {
		margin-right: 2rem;
		flex: 0 0 25%;
    max-width: 25%;
		text-align: right;
	}

	.brand__content {
		flex-basis: 75%;
		max-width: 75%;
	}

}
