.content {
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

// Content Section - Typography

// .content p + h6,
// .content ul + h6,
// .content ol + h6,
// .content blockquote + h6,
// .content figure + h6
// .content img + h6,
// .content table + h6 {
// 	margin-top: 3rem;
// }

// .content ul li,
// .content ol li,
// .content li, {
// 	margin-bottom: 1rem;
// 	padding-left: 0.625rem;
// }


section {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.section__bg {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

// Section Themes

.section__bg-primary,
.section__bg-grey-dark {
	color: $white;
}

.section__bg--primary {
	background-color: $color-bg-primary;
}

.section__bg--grey-light {
	background-color: $color-bg-grey-light;
}

.section__bg--grey-dark {
	background-color: $color-bg-grey-dark;
}

.section__bg--secondary-1 {
	background-color: $color-bg-secondary-1;
}


// Section Highlights
// --------------------------------------------------------------------------

.section-highlight {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.section-highlight-image {
	justify-content: center;
	align-self: center;
}

.highlight-title {
	margin-top: 0;
}

.highlight-label {
	margin-bottom: 1rem;
	font-size: 1.5rem;
	font-weight: $font-weight-bold;
}

.section-highlight-content {
	font-family: $font-family-serif;
	font-size: 1.25rem;

	> *:last-child {
		margin-bottom: 0;
	}
	
	ul {
		margin-left: 0;
	}

	li {
		margin-bottom: 0.75rem;
		list-style: none;
	}

}


// Headlines
// --------------------------------------------------------------------------

.headline-copy {
	margin-bottom: 2rem;
	font-family: $font-family-serif;
	font-size: 1.25rem;
}


// Grid Sections
// --------------------------------------------------------------------------

// .feature-grid-item {
// 	padding: 0 2rem;
// 	text-align: center;
// }

// .feature-grid-item-icon {
// 	display: inline-block;
// 	margin: 1.5rem auto;
// 	padding: 1rem;
// 	background-color: rgba($color-bg-grey-dark, 0.4);
// 	border-radius: 50%;
// }

.pdf-link {
	display: flex;

	a {
		margin-left: 1rem;
	}

	span {
		display: block;
		color: $color-text;
		font-size: 0.75rem;
	}
}

// Contact Grid

.content-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.content-grid__content {
	flex-basis: 100%;
	max-width: 100%;
	margin-bottom: 1.5rem;
	padding-left: $spacer;
	padding-right: $spacer;

	p {
		margin-bottom: 1rem;
	}
}

.content-grid__title {
	margin: 1rem 0;
	font-size: 1.5rem;
}

.content-grid__image--icon {
	> i {
		font-size: 4rem;
	}
}

@include media-breakpoint-up(md) {

	.content {
		max-width: 60%;
	}

	.section-highlight {
		.content {
			max-width: 80%;
		}
	}

}

@include media-breakpoint-up(lg) {

	section {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}

	.section-highlight {
		margin-top: 6.5rem;
		margin-bottom: 6.5rem;
	}

	.section__bg {
		padding-top: 4rem;
		padding-bottom: 4rem;
		.headline-title {
			margin-top: 0;
		}
	}

	.headline-title {
		font-size: 2.625rem;
	}

	.highlight-title {
		font-size: 2rem;
	}

	.content-grid--col-2 {
		.content-grid__content {
			flex-basis: 50%;
			max-width: 50%;
		}
	}

	.content-grid--col-3 {
		.content-grid__content {
			flex-basis: 33%;
			max-width: 33%;
		}
	}

	.content-grid--col-4 {
		.content-grid__content {
			flex-basis: 25%;
			max-width: 25%;
		}
	}

}
