.profile {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid $color-border;
	text-align: center;
	&:last-of-type {
		padding-bottom: 0;
		border-bottom: 0;
	}
}

.profile__image {
	img {
		margin: auto;
		display: block;
		border-radius: 50%;
	}
}

.profile__content {
	p:last-child {
		margin-bottom: 0;
	}
}

.profile__name {
	margin-bottom: 0.5rem;
}

.profile__title {
	margin-bottom: 1rem;
	font-family: $font-family-sans-serif;
	font-weight: $font-weight-bold;
}

@include media-breakpoint-up(sm) {

	.profile {
		flex-wrap: nowrap;
		text-align: left;
	}

	.profile__image {
		margin-right: 2rem;
		flex-basis: 25%;
		max-width: 25%;
	}

	.profile__content {
		flex-basis: 75%;
		max-width: 75%;
		padding-top: 1rem;
	}

}
