.accordion {
	margin: 0;
	padding: 0;
	border-top: 1px solid $color-border;
	border-bottom: 1px solid $color-border;

	// Accordion Item
	.accordion-item {
		margin: 0;
		padding: 1.25rem;
		//padding-top: 1.25rem;
		//padding-bottom: 1.25rem;
		list-style: none;
		border-bottom: 1px solid $color-border;
		&:last-of-type {
			border-bottom: 0; 
		}
	}

	// Accordion Header
	.accordion-item-header {
		//padding-top: 1.25rem;
		//padding-right: 1.25rem;
		//padding-bottom: 1.25rem;
		flex-wrap: nowrap;
		justify-content: space-between;
		cursor: pointer;

		h3 {
			margin: 0;
			padding-right: 1rem;
			font-size: 1.25rem;
		}

		button {
			margin: 0;
			padding: 0;
		}
	}

	// Accordion Content
	.accordion-item-content {
		padding-right: 1.25rem;
		padding-top: 1.25rem;

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}

		h5 {
			margin-top: 1.5rem;
			margin-bottom: 0.75rem;
		}

		ul, ol {
			margin-bottom: 2rem;
			padding-left: 1.25rem;
			li {
				margin-bottom: 0.75rem;
			}
		}

	}

}


@include media-breakpoint-up(md) {

	.accordion {
		border: 1px solid $color-border;

		.accordion-item {
			padding-left: 1.25rem;
			padding-right: 1.25rem;
		}

		.accordion-item-header {
			h3 {
				font-size: 1.5rem;
			}
		}

		.accordion-item-content {
			padding-right: 4rem;
		}

	}

}
