.card-image {
	margin-bottom: $spacer;
}

.card-date {
	margin-bottom: $spacer;
	font-size: 0.875rem;
}

.card-title {
	margin-bottom: $spacer;
}

.card-link {
	display: block;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.card-inverse {

	.card-title,
	.card-date {
		color: $white;
	}

	.card-excerpt {
		color: $color-text-grey-light;
	}

	&:hover {

		.card-excerpt {
			color: $white;
		}	
	}
}