.navbar.navbar-primary {

	ul {
		margin-left: 0;
	}

	.nav-link {
		color: $nav-link-color;
		&:hover {
			color: theme-color("primary")
		}
	}
}

.navbar-brand {
	padding: 0;
	font-size: inherit;
	line-height: $line-height-one;
}

.nav-item,
.btn-cta {
	font-size: 1rem;
}

.navbar-toggler {
	border: 0;
}

@media (max-width: 600px) {

	.navbar-cta .btn {
		width: 100%;
	}

}

@include media-breakpoint-down(md) {

	.navbar-nav {
		.nav-link {
			padding-top: 1.25rem;
			padding-bottom: 1.25rem;
			border-bottom: 1px solid $color-border-light;
		}
	}

	.navbar-cta {
		padding: 1.25rem 0;
		border-bottom: 1px solid $color-border-light;
	}

}

@include media-breakpoint-up(lg) {

	.navbar.navbar-primary {
		padding-top: $spacer * 2;
		padding-bottom: $spacer * 2;
	}

	.nav-item {
		+ .nav-item {
			margin-left: $spacer * 1.25;
		}
	}

}

@include media-breakpoint-up(xl) {

	.navbar-brand {
		margin-right: $spacer * 3;
	}

	.nav-item {
		+ .nav-item {
			margin-left: $spacer * 2;
		}
	}

}