/**
 * Typography
 *
 * @project Tarawera.co.nz
 * @package main.scss
 */
 

 blockquote {
	 font-family: $font-family-serif;
 }

.blockquote-callout {
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 3rem;
	line-height: $headings-line-height;

	.blockquote-footer {
		margin-top: 2rem;
		font-family: $font-family-sans-serif;
		font-size: 1.125rem;
	}
}