/**
 * Typography
 *
 * @project Tarawera.co.nz
 * @package main.scss
 */
 
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

// b, strong {
// 	font-weight: $font-weight-bold;
// }

// Headings
// --------------------------------------------------------------------------

h2, .h2 {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

h3, .h3 {
	margin-top: 1.75rem;
	margin-bottom: 1rem;
}

h6 {
	font-family: $font-family-sans-serif;
	font-size: 1.375rem;
	font-weight: $font-weight-light;
}


@include media-breakpoint-up(md) {

	h2, .h2 {
		margin-top: 2.625rem;
	}

	h3, .h3 {
    margin-top: 2rem;
		margin-bottom: 1.25rem;
	}

	h6 {
		font-size: 1.5rem;
	}

}


// Blockquotes
// --------------------------------------------------------------------------

blockquote {
	font-family: $font-family-serif;
}

.blockquote-callout {
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 3rem;
	line-height: $headings-line-height;

	.blockquote-footer {
		margin-top: 2rem;
		font-family: $font-family-sans-serif;
		font-size: 1.125rem;
	}
}


// Dividers
// --------------------------------------------------------------------------

.divider {

	hr {
		border-top-color: $color-border-light;
	}

	&.divider-inverse {
		hr {
			border-top-color: rgba($white, 0.2);
		}
	}
}


// Browser
// --------------------------------------------------------------------------

::selection {
	background: rgba($color-primary, 0.2);
	color: $color-text;
}
