/**
 * Typography
 *
 * @project Tarawera.co.nz
 * @package main.scss
 */
 
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

::selection {
	background: rgba($color-primary, 0.2);
	color: $color-text;
}

blockquote {
	font-family: $font-family-serif;
}

.blockquote-callout {
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 3rem;
	line-height: $headings-line-height;

	.blockquote-footer {
		margin-top: 2rem;
		font-family: $font-family-sans-serif;
		font-size: 1.125rem;
	}
}

.divider {

	hr {
		border-top-color: $color-border-light;
	}

	&.divider-inverse {
		hr {
			border-top-color: rgba($white, 0.2);
		}
	}
}
