/**
 * Variables
 *
 * @project Tarawera.co.nz
 * @package main.scss
 */

// Colours
// -------------------------------------------------------------------------

// Theme
$color-primary: theme-color("primary");
$color-link: theme-color("anchor");

$color-text: $gray-900; // text primary
$color-text-secondary: $gray-600; // text contrast
$color-text-grey-light: $gray-400; // text light

// Backgrounds
$color-bg-primary: theme-color("primary");
$color-bg-grey-light: $gray-100;
$color-bg-grey-dark: $gray-900;

// Borders
$color-border: $gray-900;
$color-border-medium: $gray-600;
$color-border-light: $gray-300;


// Typography
// --------------------------------------------------------------------------
$font-weight-bold: 600;

$line-height-one: 1;


// Navbar
// --------------------------------------------------------------------------

$nav-link-color: $gray-900;
